# Author: Priyanka Prusty

# Imports

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler, LabelEncoder
import warnings
warnings.filterwarnings("ignore")
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score
import pickle
from sklearn.externals import joblib
from keras.models import load_model
import os

# Check if training is completed

In [26]:
'''
To run this notebook, training must be completed 
and the following files must be present in the same
directory as that of the test_code.ipynb
1. selected_features.txt
2. kerasModel.h5
3. scaler.pkl
These 3 files are also provides as a 'trained_model_files.zip' file in the 
canvas submission. 
Please extract the files in the same folder as this notebook is present and run this notebook again.

'''
isTrainingOver = False
# We just need to check if there is a saved keras model. If the keras model is 
# saved than the other files will be present
if(os.path.isfile('kerasModel.h5')):
    isTrainingOver = True

   # Load Data

In [27]:
df_judge = pd.read_csv('judge.csv')

In [28]:
df_judge

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15605215,Stevenson,767,France,Male,48,9,0.00,2,0,1,175458.21
1,15567855,Chukwufumnanya,623,France,Female,29,1,0.00,2,0,0,39382.06
2,15780256,Palfreyman,630,France,Male,34,9,0.00,2,1,1,114006.35
3,15592229,Mullan,713,France,Female,52,0,185891.54,1,1,1,46369.57
4,15788683,Kang,588,Germany,Female,34,10,129417.82,1,1,0,153727.32
5,15693203,Powell,710,Spain,Female,75,5,0.00,2,1,1,9376.89
6,15635125,Findlay,566,Spain,Male,63,2,120787.18,2,1,1,52198.84
7,15582129,Hsia,517,France,Male,62,1,43772.66,3,1,0,187756.24
8,15703482,Walker,710,Germany,Male,34,9,134260.36,2,1,0,147074.67
9,15670738,Mazzanti,733,Germany,Male,45,2,113939.36,2,1,0,3218.71
10,15624775,Onyeoruru,729,France,Male,67,2,94203.80,1,0,1,102391.06
11,15741094,Sagese,693,France,Male,21,1,0.00,2,1,1,3494.02
12,15687828,Gorshkov,644,Spain,Female,31,5,86006.30,1,1,1,73922.95
13,15661708,She,508,France,Female,41,5,0.00,2,1,1,94170.84
14,15790497,Ross,503,Spain,Male,37,6,0.00,2,0,0,136506.86
15,15620103,Ho,660,France,Female,40,8,167181.01,1,1,1,185156.94
16,15586680,Fleming,462,France,Male,27,4,176913.52,1,1,0,80587.27
17,15749557,Chao,707,France,Female,44,6,0.00,2,1,1,192542.17
18,15622443,Marshall,549,France,Male,31,4,0.00,2,0,1,25684.85
19,15745533,Sargent,799,France,Female,63,1,110314.21,2,1,0,37464.00
20,15691647,McGregor,411,France,Female,35,2,0.00,2,1,1,93825.78
21,15599289,Yeh,724,France,Female,37,10,68598.56,1,1,0,157862.82
22,15766826,North,824,France,Male,26,7,146266.00,1,1,0,21903.62
23,15643523,Power,710,Spain,Female,30,10,0.00,2,1,0,19500.10
24,15720637,Bell,710,Germany,Female,46,10,120530.34,1,1,0,166586.99
25,15693947,Tokareva,614,France,Female,19,5,97445.49,2,1,0,122823.34
26,15726556,Macgroarty,594,Germany,Female,26,6,135067.52,2,0,0,131211.86
27,15591257,Ejimofor,796,France,Male,24,8,0.00,2,1,0,61349.37
28,15792473,Reilly,598,Germany,Female,50,5,88379.81,3,0,1,64157.24
29,15605113,Sutherland,518,France,Female,27,1,133801.49,1,1,1,143315.57
...,...,...,...,...,...,...,...,...,...,...,...,...
970,15719579,McIntosh,670,Germany,Female,33,9,84521.48,2,0,1,198017.05
971,15749947,Black,665,France,Female,44,7,0.00,2,1,1,66548.58
972,15793856,Abdulov,667,Spain,Female,36,3,121542.57,2,1,1,186841.71
973,15620756,Stokes,747,France,Male,49,6,202904.64,1,1,1,17298.72
974,15617166,Ritchie,610,France,Male,37,0,0.00,1,1,0,114514.64
975,15708791,Abazu,584,Spain,Male,32,9,85534.83,1,0,0,169137.24
976,15800620,Fitzgerald,691,France,Female,29,9,0.00,2,0,0,199635.93
977,15747288,Ferri,838,Spain,Female,40,6,61671.19,1,0,1,150659.35
978,15578073,Barker,686,Spain,Male,22,8,0.00,2,0,0,142331.85
979,15786905,Russo,749,Germany,Female,40,8,141782.57,2,0,0,86333.63
980,15625522,Walker,700,Spain,Male,31,7,0.00,2,0,1,145151.96
981,15796413,Green,794,France,Male,46,6,0.00,2,1,0,195325.74
982,15732791,Davide,641,Germany,Male,32,5,122947.92,1,1,1,99154.86
983,15665159,Brooks,727,France,Male,61,0,128213.96,2,1,1,188729.08
984,15762123,Davide,717,Spain,Female,34,1,0.00,2,1,0,119313.74
985,15715208,Watkins,804,Germany,Female,33,10,138335.96,1,1,1,80483.76
986,15575002,Ferguson,676,France,Male,29,4,140720.93,1,1,0,36221.18
987,15752097,Chiazagomekpere,708,Spain,Male,38,8,99640.89,1,1,0,12429.22
988,15714634,Nebechi,837,France,Male,26,4,89900.24,2,1,0,175477.03
989,15569249,Howarth,576,France,Female,55,6,44582.07,3,0,1,67539.85
990,15746326,Fields,591,France,Male,43,3,0.00,2,0,1,198926.36
991,15686913,Kung,757,France,Male,38,0,0.00,1,1,0,83263.06
992,15783883,Onwuka,753,Germany,Female,38,1,117314.92,1,1,0,122021.33
993,15725664,Wallace,549,France,Female,38,8,107283.40,1,0,0,157442.75
994,15584967,Chiganu,596,Spain,Male,57,6,0.00,2,1,1,72402.00
995,15747534,Torkelson,595,France,Male,46,10,0.00,1,1,0,73489.15
996,15664432,Chao,727,Spain,Female,49,7,96296.78,1,1,0,190457.87
997,15726103,Tsou,689,Germany,Female,55,1,76296.81,1,1,0,42364.75
998,15766374,Leak,632,Germany,Male,42,4,119624.60,2,1,1,195978.86
999,15684960,Yewen,559,France,Female,46,5,0.00,1,1,0,21006.10

# Preprocessing

## Handle missing data

In [29]:
#missing data in the dataset
number_of_missingdata = df_judge.isnull().sum().sort_values(ascending=False)
percent_of_missingdata = (df_judge.isnull().sum()/df_judge.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([number_of_missingdata, percent_of_missingdata], axis=1, 
                         keys=['Number_of_missingdata', 'Percent_of_missingdata'])
print(missing_data.head(20))

print("*"*50)

#total number of missing data
total=df_judge.isnull().sum().sum()
print('Total missing data=',total)


#I found no missing data in the dataset, hence I am getting 0 missing datas.

                 Number_of_missingdata  Percent_of_missingdata
EstimatedSalary                      0                     0.0
IsActiveMember                       0                     0.0
HasCrCard                            0                     0.0
NumOfProducts                        0                     0.0
Balance                              0                     0.0
Tenure                               0                     0.0
Age                                  0                     0.0
Gender                               0                     0.0
Geography                            0                     0.0
CreditScore                          0                     0.0
Surname                              0                     0.0
CustomerId                           0                     0.0
**************************************************
Total missing data= 0

## Drop irrelevant columns

In [30]:
##Save customer id for later use to create final judge-pred.csv file
df_customerId = df_judge['CustomerId']
#Drop the irrelevant columns
df_judge= df_judge.drop(['Surname','CustomerId'],axis=1)

In [31]:
## Handling catagorical variables

In [32]:
#number of catagorical variables
categorical_variables = df_judge.dtypes[df_judge.dtypes == "object"].index
catg_list=df_judge[categorical_variables]
numerical_variables = df_judge.dtypes[df_judge.dtypes != "object"].index

print("Number of Categorical features: ", len(categorical_variables))
print("*"*50)
print(catg_list.head(3))
print("*"*50)   


#introduce dummy variables    
df_judge = pd.get_dummies(df_judge,categorical_variables)

Number of Categorical features:  2
**************************************************
  Geography  Gender
0    France    Male
1    France  Female
2    France    Male
**************************************************

In [33]:
df_judge

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,767,48,9,0.00,2,0,1,175458.21,1,0,0,0,1
1,623,29,1,0.00,2,0,0,39382.06,1,0,0,1,0
2,630,34,9,0.00,2,1,1,114006.35,1,0,0,0,1
3,713,52,0,185891.54,1,1,1,46369.57,1,0,0,1,0
4,588,34,10,129417.82,1,1,0,153727.32,0,1,0,1,0
5,710,75,5,0.00,2,1,1,9376.89,0,0,1,1,0
6,566,63,2,120787.18,2,1,1,52198.84,0,0,1,0,1
7,517,62,1,43772.66,3,1,0,187756.24,1,0,0,0,1
8,710,34,9,134260.36,2,1,0,147074.67,0,1,0,0,1
9,733,45,2,113939.36,2,1,0,3218.71,0,1,0,0,1
10,729,67,2,94203.80,1,0,1,102391.06,1,0,0,0,1
11,693,21,1,0.00,2,1,1,3494.02,1,0,0,0,1
12,644,31,5,86006.30,1,1,1,73922.95,0,0,1,1,0
13,508,41,5,0.00,2,1,1,94170.84,1,0,0,1,0
14,503,37,6,0.00,2,0,0,136506.86,0,0,1,0,1
15,660,40,8,167181.01,1,1,1,185156.94,1,0,0,1,0
16,462,27,4,176913.52,1,1,0,80587.27,1,0,0,0,1
17,707,44,6,0.00,2,1,1,192542.17,1,0,0,1,0
18,549,31,4,0.00,2,0,1,25684.85,1,0,0,0,1
19,799,63,1,110314.21,2,1,0,37464.00,1,0,0,1,0
20,411,35,2,0.00,2,1,1,93825.78,1,0,0,1,0
21,724,37,10,68598.56,1,1,0,157862.82,1,0,0,1,0
22,824,26,7,146266.00,1,1,0,21903.62,1,0,0,0,1
23,710,30,10,0.00,2,1,0,19500.10,0,0,1,1,0
24,710,46,10,120530.34,1,1,0,166586.99,0,1,0,1,0
25,614,19,5,97445.49,2,1,0,122823.34,1,0,0,1,0
26,594,26,6,135067.52,2,0,0,131211.86,0,1,0,1,0
27,796,24,8,0.00,2,1,0,61349.37,1,0,0,0,1
28,598,50,5,88379.81,3,0,1,64157.24,0,1,0,1,0
29,518,27,1,133801.49,1,1,1,143315.57,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,670,33,9,84521.48,2,0,1,198017.05,0,1,0,1,0
971,665,44,7,0.00,2,1,1,66548.58,1,0,0,1,0
972,667,36,3,121542.57,2,1,1,186841.71,0,0,1,1,0
973,747,49,6,202904.64,1,1,1,17298.72,1,0,0,0,1
974,610,37,0,0.00,1,1,0,114514.64,1,0,0,0,1
975,584,32,9,85534.83,1,0,0,169137.24,0,0,1,0,1
976,691,29,9,0.00,2,0,0,199635.93,1,0,0,1,0
977,838,40,6,61671.19,1,0,1,150659.35,0,0,1,1,0
978,686,22,8,0.00,2,0,0,142331.85,0,0,1,0,1
979,749,40,8,141782.57,2,0,0,86333.63,0,1,0,1,0
980,700,31,7,0.00,2,0,1,145151.96,0,0,1,0,1
981,794,46,6,0.00,2,1,0,195325.74,1,0,0,0,1
982,641,32,5,122947.92,1,1,1,99154.86,0,1,0,0,1
983,727,61,0,128213.96,2,1,1,188729.08,1,0,0,0,1
984,717,34,1,0.00,2,1,0,119313.74,0,0,1,1,0
985,804,33,10,138335.96,1,1,1,80483.76,0,1,0,1,0
986,676,29,4,140720.93,1,1,0,36221.18,1,0,0,0,1
987,708,38,8,99640.89,1,1,0,12429.22,0,0,1,0,1
988,837,26,4,89900.24,2,1,0,175477.03,1,0,0,0,1
989,576,55,6,44582.07,3,0,1,67539.85,1,0,0,1,0
990,591,43,3,0.00,2,0,1,198926.36,1,0,0,0,1
991,757,38,0,0.00,1,1,0,83263.06,1,0,0,0,1
992,753,38,1,117314.92,1,1,0,122021.33,0,1,0,1,0
993,549,38,8,107283.40,1,0,0,157442.75,1,0,0,1,0
994,596,57,6,0.00,2,1,1,72402.00,0,0,1,0,1
995,595,46,10,0.00,1,1,0,73489.15,1,0,0,0,1
996,727,49,7,96296.78,1,1,0,190457.87,0,0,1,1,0
997,689,55,1,76296.81,1,1,0,42364.75,0,1,0,1,0
998,632,42,4,119624.60,2,1,1,195978.86,0,1,0,0,1
999,559,46,5,0.00,1,1,0,21006.10,1,0,0,1,0

## Select same features that was used in the best model

In [34]:
selected_feats = []

# open selected feature file read the contents into a list
if(isTrainingOver):
    with open('selected_features.txt', 'r') as filehandle:
        for line in filehandle:
            # remove linebreak which is the last character of the string
            feature = line[:-1]
            # add item to the list
            selected_feats.append(feature)
else:
    print('Please run the traing_code.ipynb first or extract the trained_model_files.zip files in the same directory')

In [35]:
selected_feats

['Exited',
 'Age',
 'Geography_Germany',
 'IsActiveMember',
 'Balance',
 'Geography_France',
 'Gender_Female',
 'Gender_Male',
 'Geography_Spain',
 'NumOfProducts',
 'CreditScore',
 'Tenure']

In [36]:
df_judge_final=df_judge.filter(items=selected_feats)

In [38]:
df_judge_final

,Age,Geography_Germany,IsActiveMember,Balance,Geography_France,Gender_Female,Gender_Male,Geography_Spain,NumOfProducts,CreditScore,Tenure
0,48,0,1,0.00,1,0,1,0,2,767,9
1,29,0,0,0.00,1,1,0,0,2,623,1
2,34,0,1,0.00,1,0,1,0,2,630,9
3,52,0,1,185891.54,1,1,0,0,1,713,0
4,34,1,0,129417.82,0,1,0,0,1,588,10
5,75,0,1,0.00,0,1,0,1,2,710,5
6,63,0,1,120787.18,0,0,1,1,2,566,2
7,62,0,0,43772.66,1,0,1,0,3,517,1
8,34,1,0,134260.36,0,0,1,0,2,710,9
9,45,1,0,113939.36,0,0,1,0,2,733,2
10,67,0,1,94203.80,1,0,1,0,1,729,2
11,21,0,1,0.00,1,0,1,0,2,693,1
12,31,0,1,86006.30,0,1,0,1,1,644,5
13,41,0,1,0.00,1,1,0,0,2,508,5
14,37,0,0,0.00,0,0,1,1,2,503,6
15,40,0,1,167181.01,1,1,0,0,1,660,8
16,27,0,0,176913.52,1,0,1,0,1,462,4
17,44,0,1,0.00,1,1,0,0,2,707,6
18,31,0,1,0.00,1,0,1,0,2,549,4
19,63,0,0,110314.21,1,1,0,0,2,799,1
20,35,0,1,0.00,1,1,0,0,2,411,2
21,37,0,0,68598.56,1,1,0,0,1,724,10
22,26,0,0,146266.00,1,0,1,0,1,824,7
23,30,0,0,0.00,0,1,0,1,2,710,10
24,46,1,0,120530.34,0,1,0,0,1,710,10
25,19,0,0,97445.49,1,1,0,0,2,614,5
26,26,1,0,135067.52,0,1,0,0,2,594,6
27,24,0,0,0.00,1,0,1,0,2,796,8
28,50,1,1,88379.81,0,1,0,0,3,598,5
29,27,0,1,133801.49,1,1,0,0,1,518,1
...,...,...,...,...,...,...,...,...,...,...,...
970,33,1,1,84521.48,0,1,0,0,2,670,9
971,44,0,1,0.00,1,1,0,0,2,665,7
972,36,0,1,121542.57,0,1,0,1,2,667,3
973,49,0,1,202904.64,1,0,1,0,1,747,6
974,37,0,0,0.00,1,0,1,0,1,610,0
975,32,0,0,85534.83,0,0,1,1,1,584,9
976,29,0,0,0.00,1,1,0,0,2,691,9
977,40,0,1,61671.19,0,1,0,1,1,838,6
978,22,0,0,0.00,0,0,1,1,2,686,8
979,40,1,0,141782.57,0,1,0,0,2,749,8
980,31,0,1,0.00,0,0,1,1,2,700,7
981,46,0,0,0.00,1,0,1,0,2,794,6
982,32,1,1,122947.92,0,0,1,0,1,641,5
983,61,0,1,128213.96,1,0,1,0,2,727,0
984,34,0,0,0.00,0,1,0,1,2,717,1
985,33,1,1,138335.96,0,1,0,0,1,804,10
986,29,0,0,140720.93,1,0,1,0,1,676,4
987,38,0,0,99640.89,0,0,1,1,1,708,8
988,26,0,0,89900.24,1,0,1,0,2,837,4
989,55,0,1,44582.07,1,1,0,0,3,576,6
990,43,0,1,0.00,1,0,1,0,2,591,3
991,38,0,0,0.00,1,0,1,0,1,757,0
992,38,1,0,117314.92,0,1,0,0,1,753,1
993,38,0,0,107283.40,1,1,0,0,1,549,8
994,57,0,1,0.00,0,0,1,1,2,596,6
995,46,0,0,0.00,1,0,1,0,1,595,10
996,49,0,0,96296.78,0,1,0,1,1,727,7
997,55,1,0,76296.81,0,1,0,0,1,689,1
998,42,1,1,119624.60,0,0,1,0,2,632,4
999,46,0,0,0.00,1,1,0,0,1,559,5

# Standardization

In [39]:
##Scale the data from saved scaler that was fit while constructing the best model
if(isTrainingOver):
    scaler = joblib.load('scaler.pkl')
    X_judge = scaler.transform(df_judge_final)
else:
    print('Please run the traing_code.ipynb first or extract the trained_model_files.zip files in the same directory')

In [41]:
X_judge[0]

array([-6.23002387e+00, -3.68961466e+00, -1.39776873e+00, -1.22607103e+00,
       -9.03802018e-01, -1.02703190e+00,  9.90049504e-01, -5.79060940e-01,
        4.08943371e+00,  1.53973390e+03,  1.69804617e+01])

## Load the saved model from test_code.ipynb

In [11]:

##Read the model from model file
if(isTrainingOver):
    best_ann_model = load_model('kerasModel.h5')
else:
    print('Please run the traing_code.ipynb first or extract the trained_model_files.zip files in the same directory')

WARNING:tensorflow:From /Users/pprusty05/anaconda3/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /Users/pprusty05/anaconda3/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /Users/pprusty05/anaconda3/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /Users/pprusty05/anaconda3/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /Users/pprusty05/anaconda3/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:203: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /Users/pprusty05/anaconda3/lib/python3.6/site-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /Users/pprusty05/anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

## Predict

In [12]:
if(isTrainingOver):
    y_judge = best_ann_model.predict_classes(X_judge)
else:
    print('Please run the traing_code.ipynb first or extract the trained_model_files.zip files in the same directory')

In [13]:
#Save Judge prediction in a file
if(isTrainingOver):
    customerId_list = df_customerId.values.tolist()
    file_handler = open('judge-pred3.csv','w')
    file_handler.write('CustomerID,Exited\n')
    for i in range (0, len(y_judge)):
        file_handler.write('%d,%d\n' %(customerId_list[i], y_judge[i]))
    file_handler.close()
else:
    print('Please run the traing_code.ipynb first or extract the trained_model_files.zip files in the same directory')